<h2>{{blog.title}}</h2>
<img src="{{blog.image}}" alt="" />
<h3>By: {{blog.author}}</h3>
{{blog.story}}
<ul>
  {{#each blog.comments as |comment|}}
    <li>{{comment.comment}}</li>
    {{/each}}
</ul>
